* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;

}

body {
  background-color: #F1F6FB;
  margin: 0;
  color: #4480C5;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 1920px;
  height: 1080px;
}

button {
  cursor: pointer;
}